html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.section-title::before {
  content: "";
  background-image: url("/public/dots_light.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .section-title::before {
    background-image: url("/public/dots-dark.svg");
  }
}
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .textContainer {
  flex: 1;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 738px) {
  .services .textContainer {
    align-self: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  }
}
.services .textContainer .mbltitle {
  display: none;
}
@media (max-width: 738px) {
  .services .textContainer .mbltitle {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 4px;
  }
}
.services .textContainer p {
  font-weight: 200;
  font-size: 20px;
  color: gray;
  text-align: right;
}
.services .textContainer hr {
  width: 500px;
  border: none;
  border-top: 0.5px solid gray;
}
@media (max-width: 738px) {
  .services .textContainer hr {
    width: 300px;
  }
}
.services .titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 738px) {
  .services .titleContainer {
    width: 100%;
  }
}
.services .titleContainer .title {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 738px) {
  .services .titleContainer .title {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    display: none;
  }
}
.services .titleContainer .title h1 {
  font-size: 80px;
  font-weight: 100;
}
@media (max-width: 738px) {
  .services .titleContainer .title h1 {
    font-size: 30px;
  }
}
.services .titleContainer .title button.frt-btn {
  background: linear-gradient(145deg, #1e1e30, #141427);
  color: white;
  border: 2px solid #fa6400;
}
.services .titleContainer .title button.frt-btn:hover {
  background: linear-gradient(135deg, #ff944d, #6c00d8);
}
.services .titleContainer .title button {
  width: 289px;
  height: 84px;
  border-radius: 50px;
  background: linear-gradient(135deg, #ff944d, #6c00d8);
  border: none;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 738px) {
  .services .titleContainer .title button {
    display: none;
  }
}
.services .listContainer {
  flex: 2;
  display: flex;
  max-width: 1366px;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 738px) {
  .services .listContainer {
    flex-direction: column;
    width: 90%;
    gap: 10px;
  }
}
.services .listContainer .box {
  flex: 1 1 calc(25% - 20px);
  background: linear-gradient(145deg, #1e1e30, #141427);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.5px solid gray;
}
@media (max-width: 738px) {
  .services .listContainer .box {
    flex: none;
    width: 100%;
    padding: 26px;
    margin-bottom: 12px;
  }
}
.services .listContainer .box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.services .listContainer .box p {
  font-size: 1.3rem;
  margin: 20px 0;
  text-align: justify;
  line-height: 1.4;
}
@media (max-width: 738px) {
  .services .listContainer .box p {
    font-size: 0.9rem;
    margin: 10px 0;
  }
}
.services .listContainer .box .tech {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.services .listContainer .box .tech button {
  padding: 12px 20px;
  background: linear-gradient(135deg, #ff944d, #6c00d8);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.services .listContainer .box .tech button:hover {
  background: linear-gradient(135deg, #6c00d8, #ff944d);
  transform: translateY(-3px);
}
@media (max-width: 738px) {
  .services .listContainer .box .tech button {
    padding: 10px;
    font-size: 0.9rem;
  }
}
.services .listContainer .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=services.css.map */