@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    .item {
      justify-content: center;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 16px;
        width: 100%;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 23px;
      width: 100%;
      margin-bottom: 64px;
    }


    .phoneSvg {
      stroke: #fa6400;
      position: absolute;
      margin: auto;
      z-index: -1;

      @include mobile {
        display: none; // Hide on mobile view
      }
    }


    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        font-size: 16px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(135deg, #ff944d, #6c00d8);
        cursor: pointer;
        color: #ffff;
        font-size: 22px;
        font-weight: 500;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}